// ? Layout
$background: #312f2f;
$yellow: #ffd72e;
$accent: #fd6a31;

// ? Text
$onPrimary: #fefefe;
$onSecondary: #333333;

// ? override bootstrap
$primary: #4f1e72;
$secondary: #777a7c;
$success: #5c80bc;
$danger: #b81365;
$warning: $yellow;
$info: $accent;
$light: $onPrimary;
$dark: $background;
